{% extends "layout.html" %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>House</th>
                <th>Position</th>
            </tr>
        </thead>

        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student["Name"] }}</td>
                <td>{{ student["House"] }}</td>
                <td>{{ student["Position"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}